<form [formGroup]="itemsForm" class="commentForm container">
  <div class="row">
    <div class="col-15">
    </div>
  </div>
  Contains string:
  <input type="text" class="form-control" #stringContains>


  <div *ngIf="isStringLanguage">
    Language:
    <input type="text" class="form-control" #languageInput>
    <button
      type="submit"
      mat-raised-button
      class="btn btn-outline-secondary"
      (click)="submitFormForLanguage(languageInput.value, stringContains.value)"
    >
      Submit
    </button>
  </div>

  <div *ngIf="filterType === 'date' || filterType === 'integer' || filterType === 'gMonthDay'">
    <label for="sorting-direction">Select sorting direction:</label>
    <select name="sorting-direction" id="sorting-direction" class="form-control" #dateSortInput>
      <option value="">Choose</option>
      <option value="ASC">ASC</option>
      <option value="DESC">DESC</option>
    </select>
    <button
      type="submit"
      mat-raised-button
      class="btn btn-outline-secondary"
      (click)="submitFormForDateSorting(dateSortInput.value, stringContains.value)"
    >
      Submit
    </button>
  </div>

  <div mat-dialog-actions>
    <button
      mat-button
      class="btn btn-secondary"
      (click)="cancelClick()"
    >
      Cancel
    </button>
  </div>
</form>
