<form [formGroup]="itemsForm" class="commentForm">
  <div class="row">
    <div class="col-15">
    </div>
  </div>

  <div *ngIf="isStringLanguage">
    <input type="text"  #languageInput>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="submitFormForLanguage(languageInput.value)"
    >
      Submit
    </button>
  </div>

  <div mat-dialog-actions>
    <button
      type="submit"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
    <button
      mat-button
      class="mat-focus-indicator mat-raised-button mat-button-base mat-raised"
      (click)="cancelClick()"
    >
      Cancel
    </button>
  </div>
</form>
